###############
/target/
/.classpath
/*.project
/.settings
/*.springBeans
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
.gradle/
gradle/
out/production
############
*.jar
*.war
*.ear
*.db

###############
.DS_Store

#############
*.class
